// Variables

$background-blue: #48C1EC;
$dark-blue: #18518F;
$cake-pink: #FFC0BD;
$red-accent: #D0021B;
$card-blue: #71DAE6;
$birthday-green: #81E255;
$candle-orange: #F5A623;
$candle-yellow: #F8E71C;

// Mixins

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
@include font-face("Tofino-Regular", "assets/fonts/TofinoProPersonal-Regular", 400, normal, otf);
@include font-face("Tofino-Wide-Ultra", "assets/fonts/TofinoProPersonalWide-Ultra", 800, normal, otf);
@include font-face("Tofino-Wide-Thin", "assets/fonts/TofinoProPersonalWide-Thin", 400, normal, otf);
@include font-face("Tofino-Semibold", "assets/fonts/TofinoProPersonalCond-Semibold", 800, bold, otf);
@include font-face("Tofino-Light", "assets/fonts/TofinoProPersonalCond-Light", 100, bold, otf);
@include font-face("Tofino-Medium", "assets/fonts/TofinoProPersonalCond-Medium", 300, bold, otf);
@include font-face("Tofino-Narrow-Medium", "assets/fonts/TofinoProPersonalNarrow-Book", 300, bold, otf);

@mixin header-font() {
  font-family: Tofino-Wide-Ultra, Arial, Helvetica, sans-serif;
}

@mixin button-font() {
  font-family: Tofino-Narrow-Medium, Arial, Helvetica, sans-serif;
}

@mixin body-font() {
  font-family: Tofino-Regular, Arial, Helvetica, sans-serif;
}

html,
body {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: $background-blue;
  @include header-font();

  canvas {
    z-index: 1;
  }

  #cake-box {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    z-index: 2;

    #candles-container {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-content: space-between;
      width: 50%;
      height: 10%;
      margin: 30px auto 0 auto;
      .candle {
        position: relative;
        display: block;
        flex: 0 1 auto;
        height: 75px;
        width: auto;
      }
    }

    #cake {
      position: relative;
      display: block;
      width: 90%;
      height: 100%;
      min-height: 100vh;
      margin: 0 auto;
      background-color: $cake-pink;
      padding-top: 2%;
      box-sizing: border-box;
      border-radius: 150px 150px 0 0;

      #frosting-container {
        position: absolute;
        display: block;
        top: 0;
        content: '';
        //border-radius: 20% 20% 0 0%;
        width: 111%;
        left: -5.5%;
        height: 50px;
        overflow: hidden;
        //background-color: white;
        #frosting {
          position: relative;
          display: block;
          content: '';
          border-radius: 150px 150px 0 0;
          width: 90%;
          height: 100%;
          min-height: 100vh;
          background-color: white;
          margin: 0 auto;
        }
      }

      .candle {

      }

      #title-container {
        position: relative;
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        text-transform: uppercase;
        color: white;
        text-shadow: 6px 6px $red-accent;
        font-size: 40px;
        letter-spacing: 3px;
      }
      #user-list {
        position: relative;
        display: block;
        width: 100%;
        padding: 0 10% 0 10%;
        box-sizing: border-box;
        #sort-button {
          position: relative;
          display: block;
          //display: flex;
          width: 40%;
          height: 30px;
          margin: 0 auto 75px auto;
          padding: 5px;
          border-radius: 30px;
          background-color: $dark-blue;
          color: white;
          text-transform: uppercase;
          @include button-font();
          font-size: 12px;
          letter-spacing: 3px;
          &:focus,
          &:active {
            outline-color: $cake-pink;
          }

          &:hover {
            cursor: pointer;
          }

          &:after {
            position: absolute;
            display: block;
            //flex: 0 1 auto;
            top: 98%;
            left: 45%;
            content: '';
            clip-path: polygon(50% 25%, 0 0, 100% 0);
            background-color: $dark-blue;
            width: 10%;
            height: 50px;
          }
        }

        .user-card {
          position: relative;
          display: block;
          width: 75%;
          margin: 50px auto;
          height: 200px;
          background-color: white;
          box-shadow: 4px 4px $background-blue;

          .birthday-status {
            position: absolute;
            display: block;
            top: -5%;
            left: -3%;
            width: 40%;
            padding: 8px 15px 10px;
            z-index: 5;
            text-align: left;
            box-sizing: border-box;
            font-size: 10.5px;
            background-color: $card-blue;
            box-shadow: 4px 4px $background-blue;
            text-transform: uppercase;
            &.upcoming {
              background-color: $birthday-green;
            }
            &.today {
              background-color: $red-accent;
            }

            .status,
            .birthday {
              position: relative;
              display: inline;
              width: 100%;
              color: white;
              text-shadow: 1px 1px $red-accent;
              letter-spacing: 0.5px;
              margin: 0;
            }
            .birthday {
              margin-left: 5px;
            }
          }
          .user-info {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            padding: 0;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            align-content: space-around;
            box-sizing: border-box;
            z-index: 2;

            .name-nat {
              position: relative;
              display: flex;
              width: auto;
              min-width: 60%;
              height: 100%;
              flex: 0 1 auto;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-around;
              align-content: space-around;
              border-left: 5px solid $red-accent;

              .name,
              .bio-info {
                position: relative;
                flex: 0 1 auto;
                color: $dark-blue;
                margin: 20px auto;
                width: 90%;
                height: 50%;
              }
              .bio-info {
                align-self: flex-end;
                .nat,
                .gender,
                .dob {
                  position: relative;
                  display: inline-block;
                  margin: 0 5px 0 0;
                  @include body-font();
                  //@include button-font();
                  margin-top: 0;
                  text-transform: capitalize;
                  font-size: 14px;
                  &:after {
                    content: ', '
                  }
                  &:last-of-type {
                    &:after {
                      content: '';
                    }
                  }
                }
              }
              .name {
                @include header-font();
                font-size: 30px;
                line-height: 36px;
                height: 60%;
                text-transform: capitalize;
                align-self: flex-start;
              }
            }

            .user-pic {
              position: relative;
              display: block;
              width: 40%;
              flex: 0 1 auto;

              .pic-wrapper {
                position: relative;
                display: block;
                border-radius: 50%;
                background-color: $background-blue;
                overflow: hidden;
                max-width: 150px;
                margin: 0 auto;
                //border: 3px solid $background-blue;

                .pic {
                  position: relative;
                  display: block;
                  width: 100%;
                  height: auto;
                  filter: grayscale(80%) contrast(200%);
                  opacity: 0.6;
                }
              }

            }
          }

          &:before,
          &:after {
            position: absolute;
            display: block;
            background-color: $red-accent;
            content: '';
          }

          &:before {
            width: 100%;
            height: 5px;
            top: 50%;
            left: 0;
          }
          //&:after {
          //  height: 100%;
          //  width: 5px;
          //  top: 0;
          //  left: 40%;
          //}
        }
      }


      // Responsive styles

      @media (max-width: 1200px) {
        #title-container {
          font-size: 30px;
          width: 85%;
          margin-top: 10%;

        }
        #user-list {
          #sort-button {
            width: 50%;
          }
          .user-card {
            width: 100%;
            .birthday-status {
              width: 40%;
              font-size: 12px;
            }
            .user-info {
              .name-nat {

                .bio-info {
                  .gender,
                  .nat,
                  .dob {
                    display: inline;
                    width: auto;
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width: 850px) {
        #title-container {
          font-size: 24px;
        }
        #user-list {
          #sort-button {
            width: 75%;
          }
          .user-card {
            width: 100%;
            margin: 100px 0;
            .birthday-status {
              width: 101%;
              top: -16%;
              left: -1%;
              font-size: 12px;
            }

            .user-info {
              .user-pic {
                .pic-wrapper {
                  max-width: 80%;
                }
              }
              .name-nat {

                .bio-info {
                  .gender,
                  .nat,
                  .dob {
                    display: inline;
                    width: auto;
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width: 650px) {

      }

    }

    @media (max-width: 650px) {

      #candles-container {
        width: 30%;
        align-items: center;
        justify-content: space-around;
        align-content: space-around;
        .candle {
          &:last-of-type,
          &:first-of-type {
            display: none;
          }
        }
      }
      #cake {
        #title-container {
          margin-top: 15%;
        }
      }
    }
    @media (max-width: 400px) {

      #candles-container {
        align-items: center;
        justify-content: center;
        align-content: center;
        .candle {
          display: none;
          &:last-of-type {
            display: block;

          }
        }
      }

      #cake {
        #title-container {
          font-size: 18px;
          margin-top: 15%;
        }

        #user-list {
          #sort-button {
            width: 100%;
          }

          .user-card {
            .birthday-status {
              font-size: 11px;
            }
            .user-info {
              .user-pic {
                width: 45%;
              }
              .name-nat {
                width: 55%;
                .name {
                  margin-top: 15%;
                  font-size: 18px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

}